{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div id="main">
        <canvas id="canvas"></canvas>
        <div id="bets">
            <div id="bet_section">
                <div id="bet_table">
                    <div class="up_bets_box">
                        <div id="zero" class="bet_value">0</div>
                        <div id="numbers">
                            <div id="first_row">
                                <div class="first_row_numbers bet_value">3</div>
                                <div class="first_row_numbers bet_value">6</div>
                                <div class="first_row_numbers bet_value">9</div>
                                <div class="first_row_numbers bet_value">12</div>
                                <div class="first_row_numbers bet_value">15</div>
                                <div class="first_row_numbers bet_value">18</div>
                                <div class="first_row_numbers bet_value">21</div>
                                <div class="first_row_numbers bet_value">24</div>
                                <div class="first_row_numbers bet_value">27</div>
                                <div class="first_row_numbers bet_value">30</div>
                                <div class="first_row_numbers bet_value">33</div>
                                <div class="first_row_numbers bet_value">36</div>
                            </div>
                            <div id="second_row">
                                <div class="second_row_numbers bet_value">2</div>
                                <div class="second_row_numbers bet_value">5</div>
                                <div class="second_row_numbers bet_value">8</div>
                                <div class="second_row_numbers bet_value">11</div>
                                <div class="second_row_numbers bet_value">14</div>
                                <div class="second_row_numbers bet_value">17</div>
                                <div class="second_row_numbers bet_value">20</div>
                                <div class="second_row_numbers bet_value">23</div>
                                <div class="second_row_numbers bet_value">26</div>
                                <div class="second_row_numbers bet_value">29</div>
                                <div class="second_row_numbers bet_value">32</div>
                                <div class="second_row_numbers bet_value">35</div>
                            </div>
                            <div id="third_row">
                                <div class="third_row_numbers bet_value">1</div>
                                <div class="third_row_numbers bet_value">4</div>
                                <div class="third_row_numbers bet_value">7</div>
                                <div class="third_row_numbers bet_value">10</div>
                                <div class="third_row_numbers bet_value">13</div>
                                <div class="third_row_numbers bet_value">16</div>
                                <div class="third_row_numbers bet_value">19</div>
                                <div class="third_row_numbers bet_value">22</div>
                                <div class="third_row_numbers bet_value">25</div>
                                <div class="third_row_numbers bet_value">28</div>
                                <div class="third_row_numbers bet_value">31</div>
                                <div class="third_row_numbers bet_value">34</div>
                            </div>
                        </div>
                        <div id="row_numbers_bet">
                            <div class="row_bet bet_value">1-1</div>
                            <div class="row_bet bet_value">2-1</div>
                            <div class="row_bet bet_value">3-1</div>
                        </div>
                    </div>
                    <div class="bottom_bets_box">
                        <div id="bonus_bets">
                            <div class="bonus_bet_row">
                                <div class="twelve_number_bet bet_value">1-12</div>
                                <div class="twelve_number_bet bet_value">2-12</div>
                                <div class="twelve_number_bet bet_value">3-12</div>
                            </div>
                            <div class="bonus_bet_row">
                                <div class="second_bonus_bet_row bet_value">1-18</div>
                                <div class="second_bonus_bet_row bet_value">even</div>
                                <div id="red_bet" class="second_bonus_bet_row bet_value">red</div>
                                <div id="black_bet" class="second_bonus_bet_row bet_value">black</div>
                                <div class="second_bonus_bet_row bet_value">odd</div>
                                <div class="second_bonus_bet_row bet_value">19-36</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chips">
                <form class="chip_select">
                    <label>
                        <input type="radio" name="chip" value="10" checked>
                        <img src="http://placehold.it/45x45/420c09/fff&text=10">
                    </label>

                    <label>
                        <input type="radio" name="chip" value="50">
                        <img src="http://placehold.it/45x45/234f1e/fff&text=50">
                    </label>

                    <label>
                        <input type="radio" name="chip" value="100">
                        <img src="http://placehold.it/45x45/000000/fff&text=100">
                    </label>

                    <label>
                        <input type="radio" name="chip" value="500">
                        <img src="http://placehold.it/45x45/55f/fff&text=500">
                    </label>

                    <label>
                        <input type="radio" name="chip" value="1000">
                        <img src="http://placehold.it/45x45/80604d/fff&text=1000">
                    </label>

                    <label>
                        <input type="radio" name="chip" value="5000">
                        <img src="http://placehold.it/45x45/ff6700/fff&text=5000">
                    </label>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
